<span class="label label-primary"><h1>Admin Page</h1></span>
<p> </p>
<div class="center hero-unit">
<table>
  <tbody>
    <% @posts.reverse_each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.published %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<p> </p>
<a href=<%= new_post_path %> class="btn btn-primary btn-large">New Post</a> 