<span class="label label-primary"><h1>My posts</h1></span>
<p> </p>
<div class="center hero-unit">
  <div class="accordion" id="accordion2">
  <div class="accordion-group">     
  <% i = 0 %>
  <% @posts.reverse_each do |post| %>
    <div class="accordion-heading">
      <h3 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=<%= "##{i}" %>>
        <%= post.title %>
      </h3>
    </div>
    <div id=<%= i %> class="accordion-body collapse">
      <div class="accordion-inner">
        <p> <%= post.body %> </p>
        <p href= <%= link_to 'Read More!', post %> class="btn btn-primary btn-large"></p>
      </div>
    </div>
    <% i += 1 %>
  <% end %>
  </div>
  </div>
</div>