<p id="notice"><%= notice %></p>

<span class="label label-primary"><h1><%= @post.title %></h1></span>
<p> </p>
<div class="center hero-unit">
	<p> <%= @post.body %> </p>
</div>

<%= button_to 'Edit', edit_post_path(@post), :method => :get %> |
<%= button_to 'Back', posts_path, :method => :get %>
