<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "DanAlex93", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", '/' %></li>
          <li><%= link_to "Posts", '/posts' %></li>
          <div class="dropdown">
            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
            Dropdown
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              ...
            </ul>
          </div>
          <li><%= link_to "Works", '#' %></li>
          <li><%= link_to "About me", '/about' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>